.home-container {
  background: url("https://res.cloudinary.com/ds06qiycz/image/upload/v1758738791/instruments_xqsgmi.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
