.hero-container {
  background: url("../../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.hero-container-studio {
  background: url("../../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.hero-inner .MuiButton-root {
  min-width: 160px;
}

@media (min-width: 640px) {
  .hero-inner .MuiButton-root {
    min-width: 180px;
  }
}
